.categories{
  margin-bottom: 80px;
}

.categories .section-title{
    width: 312px;
    margin: 0 auto;
}


.container-cards-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card-categorie {
  align-items: center;
  font-size: 24px;
  text-align: center;
  width: 312px;
  height: 220px;
  background-color: var(--background-secondary-color);
}

.card-categorie a {
  align-items: center;
  text-decoration: none;
  color: var(--text-primary-color);
}

.single-line{
    padding-top: 50px;
}

.transfer img{
    margin: 10px 0 20px;
}
.icn-categories {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .categories .section-title{
    width: 100%;
    
}

  
    .container-cards-categories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }

}
