@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --titles-weigth: 700;
  --text-weigth: 400;
  --menu-text-weigth: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--titles-weigth);
  margin: 0;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}

.button{
    display: inline-block;
    width: 280px;
    height: 64px;
    color: var(--text-secondary-color);
    font-weight: var(--titles-weigth);
    font-size: 20px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    text-decoration: none;
    line-height: 64px;
}

@media screen and (min-width: 768px) {
 .section-title{
     font-size: 32px;
 }
}

@media screen and (min-width: 1024px) {
 .button:hover{
    background-color: var(--primary-color);
 }
}