.bottom-hero {
  margin-top: 88px;
  height: 400px;
  width: 100%;
}

.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/hero-mobile.png) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/bottom-mobile.png) no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(../img/hero-tablet.png) no-repeat;
    background-size: cover;
  }
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weigth);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(../img/hero-desktop-v2.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/bottom-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-desktop-v2.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }
  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bottom-desktop.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}


.hero-pacotes{
  height: 460px;
  width: 100%;
}

.img-pacotes{
  display: flex;
  align-items: center;
  height: 460px;
  width: 100%;
  
  background: url(/img/pacotes-bg.png) no-repeat;
  background-size: cover;
}


.hero-pacotes h1{
  margin-bottom: 16px;
  color: var(--text-secondary-color);
  font-size: 48px;
}

.hero-pacotes hr{
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  
}

.hero-pacotes p{
  margin-top: 32px;
    color: var(--text-secondary-color);
    font-size: 20px;
    line-height: 32px;
}

.img-content{
  display: flex;
  margin: 0 auto;
  width: 321px;
  height: 330px;
  flex-direction: column;
  
}

@media screen and (min-width: 768px) {
  
  
  
  .img-pacotes{
    height: 620px;
    width: 100%;
    background: url(/img/bg-pacotes-tablet.png) no-repeat;
  background-size: cover;
  }

.img-content{
   width: 579px;
  height: 303px;
}
  .hero-pacotes p{
    font-size: 32px;
    line-height: 150%;
}
}



@media screen and (min-width: 1440px) {
  
  
  
  .img-pacotes{
    height: 620px;
    width: 100%;
    background: url(/img/bg-pacotes-desktop.png) no-repeat;
  background-size: cover;
  }

.img-content{
   justify-content: flex-start;
   margin: 120px;
   width: 579px;
  height: 303px;
}
  .hero-pacotes p{
    font-size: 32px;
    line-height: 150%;
}
}

@media screen and (min-width: 1920px) {
    .img-pacotes{
    background: url(/img/bg-pacotes-desktop.png) no-repeat;
  background-size: cover;
  }
}


