.card {
  color: var(--text-secondary-color);
  background-color: #ff0062;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 24px 16px;
  text-align: center;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
}

.card header p{
    font-size: 20px;
    font-weight: var(--text-weight) ;
}

.card header h3{
    margin: 8px 0 0;
    font-size: 40px;
    font-weight: var(--title-weigth);
}

.card header span{
    display: inline-block;
    margin-top: 24px;
    font-size: 32px;
}